<ion-header>
  <ion-toolbar color="success">
    <ion-title>acceuil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<h1>FootApp</h1>
	<div id="bouton">
		 <ion-button shape="round" expand="block" fill="outline" color="dark" (click)="nextPage_resultats()">Résultats</ion-button>
		 <ion-button shape="round" expand="block" fill="outline" color="dark" (click)="nextPage_buteurs()">Buteurs</ion-button>
		 <ion-button shape="round" expand="block" fill="outline" color="dark" (click)="nextPage_recherche()">Rechercher</ion-button>
	 </div>
</ion-content>