ion-content{
 --background: none;
    background-image: url(../../assets/images/background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    text-align: center;
    display:block;
    vertical-align: middle;
}
ion-header{
background-color: cornflowerblue;

ion-title{
  color:white;
}
}
h1{
  --background: none;
  justify-content: center;
  text-align: center;
  display:block;
  vertical-align: middle;
  margin-top: 25vh;
  color: white;
}

#bouton{
  display: block;
  margin-top: 5vh;
}
ion-button{
  display: block;
  margin-top: 1vh;
}
.toolbar-background{
  background-color: cornflowerblue;
}