ion-content{
 --background: none;
    background-image: url(../../assets/images/background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    text-align: center;
    display:block;
    vertical-align: middle;
}
ion-header{
background-color: cornflowerblue;
}
ion-item, ion-label, ion-input{
  --background: none;
  justify-content: center;
  text-align: center;
  display:block;
  vertical-align: middle;
  margin-top: 20vh;
}
ion-button{
  display: block;
  margin-top: 3vh;
}

